*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    
}

.title{
    margin: auto;
    width: 50%;
    max-width: 500px;
    background: #effffb;
    padding: 30px;
    border-radius: 39.5px;
    border: 1px solid #a0fde6;
}
h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    color: teal;
}

input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
    
}

input[type="submit"]{
 background:#5AD2AE ;
 border: 1px solid #469F85;
 font-family: 'Lato', sans-serif;
 box-sizing: 25px;
 border-radius: 39.5px;
 text-align: center;
 color: white;
 }
 
 input[type="submit"]:hover{
     background: rgba(5, 124, 124, 0.897);
 }

input[type="text"]{
 border: 1px solid #469F85;
 box-sizing: 25px;
 border-radius: 39.5px;
 text-align: center;
 }

 input[type="password"]{
    border: 1px solid #469F85;
    box-sizing: 25px;
    border-radius: 39.5px;
    text-align: center;
}      


h5 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(109, 108, 108);
}